.LoginFormForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    vertical-align: 80%;
}

fieldset{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
}

.formButton{
    border-radius: 10%;
    border: 2px solid grey;
    align-self: center;
    width: 200px;
    color: #DA8532;
    align-content: center;
    text-emphasis: black;
}
