.burger-menu {
    display: inline-block;
    width: 25px;
    cursor: pointer;
    padding-right: 10px;
}
.burger-line {
    height: 3px;
    margin-bottom: 3px;
    background: #4d4d4d;
    transition: all .4s ease /* important for animation */
}