/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

  *{
    background-color: black;
    font-family: 'Libre Franklin', sans-serif;
}

input {
  color: white;
}

a{
  font-family: 'Roboto', sans-serif;
  color: #DA8532;
}
